# Class name of the simulation
simulation_name = SimulationTestBraitenberg

# Path of simulation
simulation_path = SimulationTestBraitenberg.SimulationTestBraitenberg

# Obstacle avoidance behaviour
avoidance = True

# Probability to stray from moving forward
float probaTurn = 0.001
